/* import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Fredoka&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Fredoka&family=Supermercado+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5% 7%;
  font-family: 'Atomic Age', cursive;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Supermercado One', cursive;
}

/* HEADER */
header {
  font-family: 'Fredoka', sans-serif;
  background-color: #e3fdfd;
  padding: 30px;
  border-radius: 20px;
  transition: 2s;
}

header h1 {
  text-align: center;
  font-family: 'Atomic Age', cursive;
}

header p {
  font-size: 20px;
  width: 30%;
}

header img {
  margin-bottom: 10px;
}

.btn {
  background: black;
  width: 200px;
  padding: 8px;
  font-size: 18px;
  border: 1.5px solid black;
  color: white;
  border-radius: 15px;
  transition: 0.5s;
}

.btn-confirm:hover {
  background-color: transparent;
  color: black;
}

.flex-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.timer {
  width: 50px;
}

/* .hidden {
  opacity: 0;
  transform: translateY(5rem);
} */

.grid-container {
  margin-top: 40px;
  padding: 20px;
  height: 500px;
  border-radius: 20px;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  transition: 2s;
}

.grid-item {
  border: 1px solid black;
  text-align: center;
}

.grid-item--1 {
  padding-top: 100px;
}

.grid-item--3 {
  grid-column: 2;
  grid-row: 1 / 3;
  font-size: 25px;
  padding-top: 200px;
}

.input-number {
  margin-top: 10px;
  margin-right: 10px;
  padding: 7px;
  width: 70px;
}

.timer-submit {
  background: transparent;
  padding: 7px;
  border: 1px solid black;
}

.warning-background {
  background-color: rgba(255, 0, 0, 0.226);
}
